/* GLOBAL */
h1,h2{
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
h3,h4,h5,h6{
  font-weight: 700;
  font-style: normal;
}

body {

		/* background: white; */
  	/* background: rgb(27, 86, 243); */
		/* background: green; */
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

.bg-white {
    background: #fff !important;
    border: 1px solid #fff !important;
    color: #73879C
}
/* Header */

.nav{
  box-shadow: 0 .25rem .25rem rgba(0,0,0,.25),inset 0 -1px 5px rgba(0,0,0,.25);
  text-align: center;
  /* padding: 10px 20px 20px 20px; */
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 50;
}


.nav-link{
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  /* color:rgb(27, 86, 243) !important; */
  color: black !important;
}

.nav_item{
  /* color: black !important; */
  font-size: 16px;
  cursor: pointer;
  padding: 5px 5px 10px 5px;
}

 /* Header Dropdown */
.dropdown{
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  z-index: 1;
}

.dropdown:hover .dropdown-content{
  margin-top: 18px;
  display: block;
}

.dropdown:hover .nav-link{
  color: #b3b3b3 !important;
}

.dropdown-content{
  display: none;
  text-align: left;
  padding: 15px;
  position: absolute;
  background-color: #0275d8 ;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  /* color: black; */
  color: white !important;
  text-decoration: none;
}

.dropdown-content a:hover {
  /* color: black; */
  color: #b3b3b3 !important;
  text-decoration: none;
}

.top-nav{
  width: 100%;

}
#ComteqLogo {
  height: 50px;
	width: 70%;

}
#comteqlogo{
	height: 100px;
	width: 50px;
}

.nav_menu {
    float: right;
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
    position: relative
}
/* Start of Body */
.body_container{
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  min-height: 100vh;
  margin: 0 50px;
}

.carousel_container{
  margin-bottom: 40px;
}

.vertical_cards_container{
  margin-bottom: 40px;
}

.horizontal_cards_container{
  margin-bottom: 40px;
}

.accordion_container{
  padding: 20px 50px 20px 50px;
}

.accordion_container .accordion_cards{
  margin-bottom: 30px;
}

.card_text{
  text-align: right;
}
/* End of body */

/* Home page */
.card-img-top{
  height: 200px;
}

/* Programs */

.course_body{
  padding: 10px 70px;
  margin-bottom: 10px;
}

.course_card{
  margin-bottom: 20px;
}

/* About */
.cover_img{
  width: 100%;
}

.medal{
  width: 100%;
}

.about_banner{
  position: absolute;
}
.card-group deck{
  margin: 200px;
}

.about_carousel{
  margin: 60px;
  margin-right: 60px;
  margin-top: 70px;
}

.about_cards{
  margin-top:40px;
}

.about_card{
  text-align: center;
}

.Ach_title{
  text-align: center;
  color: blue;
  font-size: 50px;
  font-style: oblique;
  font-family:-webkit-pictograph;
}

/* Footer */
.footer-top{
  text-align: center;
  padding: 5px;
  color: white;
  width: 100%;
  height: 400px;
  display: block;
  background-color: rgb(27, 86, 243);
}

.icon{
  width: 30px;
  height: 30px;
}

/* vission and mission */
.vm_title{
  padding: 0px 30px;
}

.vm_body{
  padding: 10px 70px;
  margin-bottom: 10px;
}

.vm_card{
  margin-bottom: 20px;
}

/* Achievements */
.carousel_body{
  padding: 10px 70px;
  margin-bottom: 10px;
}


/*Events*/
.event_img{
  width: 300px;
  height:300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin: 10px 1px;
}

.gallery_cointainer{
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Registration*/
.container{
  margin: 100px auto;
}

.reg_btn{

}

.reg_text{
  text-align: center;
}

  .progressbar {
    counter-reset: step;
    margin: 100px 0px 50px 250px;
  }
  .progressbar li {
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #7d7d7d;
  }

  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }

  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }

  .progressbar li:first-child:after {
      content: none;
  }

  .progressbar li.active {
      color: green;
  }

  .progressbar li.active:before {
      border-color: #55b776;
  }

  .progressbar li.active + li:after {
      background-color: #55b776;
  }

/* Events */

.gallery_cointainer{
  padding:20px;
  margin-top: 20px;
}


/*footer*/

.footer-top div{
  margin-left: 5px;
  margin-right: 40px;
  margin-top: 20px;
}

.footer-top h3{
  text-align: left;
  margin-bottom: 30px;
}

.footer-top p{
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
}

.footer-top img{
  display: -webkit-box;
}

.footer-top strong{
  position: absolute;
  margin-top: 300px;
}
